<!DOCTYPE html>
<html>

<head>
	<title>Tech Stocks</title>
</head>

<body>
	<h2>Favorite Tech Stock Prices</h2>
	<table border="2">
		<tr>
			<th>Symbol</th>
			<th>Company</th>
			<th>Closing price</th>
		</tr>
		<tr>
			<td>AAPL</td>
			<td>Apple Inc.</td>
			<td>$109.14</td>
		</tr>
		<tr>
			<td>GOOG</td>
			<td>Google Inc.</td>
			<td>$518.63</td>
		</tr>
		<tr>
			<td>NFLX</td>
			<td>Netflix Inc.</td>
			<td>$454.17</td>
		</tr>
		<tr>
			<td>TSLA</td>
			<td>Tesla Motors Inc.</td>
			<td>$205.98</td>
		</tr>
	</table>

	<a href="{% url 'index' %}">Back</a>

</body>

</html>